$primary: #ebba34 !default;
$dark: #131314 !default;
$text-muted: #3d3d40 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
    scroll-behavior: smooth;
}

main {
    font-family: "Raleway", sans-serif;
}

/*
=======================
=== LANDING SECTION ===
=======================
*/

.landing {
    background: linear-gradient(#F7971E, #FFD200); 
    background-size: cover;
    border-radius: 0 0 25px 25px;
    position: relative;
}

.landing-container, .aboutUs-container {
    margin: 0px 5%;
}

.landing-text {
    padding: 7.5vh 0;
    text-align: center;
}

.landing-mainText {
    font-size: 54px;
    font-weight: 700 !important;
    margin: 0;
}

/*
==============
=== INFO 1 ===
==============
*/

.info {
    background-size: cover;
    height: 400px;
    border-radius: 25px;
}

.info1-container {
    padding: 50px 0 50px 0;
}

.info-mainText {
    font-size: 36px;
    margin-bottom: 0 !important;
}

.info-img {
    border-radius: 25px;
    max-height: 100%;
    height: 300px;
}

.info1-img-container {
    float: right;
}

.info2-img-container {
    float: left;
}

.info2 {
    padding: 50px 0;
    background-color: #ffc824;
}

.info > div > div > .col-7 {
    padding: 0;
}

.info-end {
    border-radius: 25px 25px 0 0;
}

/*
==============
=== FOOTER ===
==============
*/

footer {
    color: #fbece0;
}

.footer-text {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    font-family: "Raleway", sans-serif;
}

.footer-text p {
    margin: 0;
}